<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Crow">
          <img src="/docs/{{ .Site.Params.docs_version }}/assets/brand/crow-logo-white.svg" height="32" alt="Crow">
          <span class="fs-5">Crow</span>
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2">Projetado e construído com todo o amor do mundo pela <a href="/docs/{{ .Site.Params.docs_version }}/about/team/">equipe Crow</a> com a ajuda de <a href="{{ .Site.Params.repo }}/graphs/contributors">nossos colaboradores</a>.</li>
          <li class="mb-2">Código licenciado <a href="{{ .Site.Params.repo }}/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, documentação <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
          <li class="mb-2">Atualmente na versão {{ .Site.Params.current_version }}.</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Início</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/">Documentação</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/examples/">Exemplos</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.icons }}">Ícones</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.blog }}">Blog</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.swag }}" target="_blank" rel="noopener">Loja de produtos</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Guias</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/getting-started/">Começando</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/examples/starter-template/">Modelo inicial</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/getting-started/webpack/">Webpack</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/getting-started/parcel/">Parcel</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/getting-started/vite/">Vite</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Projetos</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/crow" target="_blank" rel="noopener">Crow 5</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/crow/tree/v4-dev" target="_blank" rel="noopener">Crow 4</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/icons" target="_blank" rel="noopener">Ícones</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/rfs" target="_blank" rel="noopener">RFS</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/examples/" target="_blank" rel="noopener">Repositório de exemplos</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Comunidade</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/crow/issues" target="_blank" rel="noopener">Problemas</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/crow/discussions" target="_blank" rel="noopener">Discussões</a></li>
          <li class="mb-2"><a href="https://github.com/sponsors/ecossistemadev" target="_blank" rel="noopener">Patrocinadores corporativos</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.opencollective }}" target="_blank" rel="noopener">Open Collective</a></li>
          <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/crow-5" target="_blank" rel="noopener">Stack Overflow</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
