<section class="col-lg-7 mb-5">
  <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bs-primary-rgb);">
    <svg class="bi fs-1"><use xlink:href="#palette2"></use></svg>
  </div>
  <h2 class="display-5 mb-3 fw-semibold lh-sm">Personalize tudo com Sass</h2>
  <p class="lead fw-normal">
    Crow utiliza Sass para uma arquitetura modular e personalizável. Importe apenas os componentes que você precisa, ative opções globais como gradientes e sombras, e escreva seu próprio CSS com nossas variáveis, mapas, funções e mixins.
  </p>
  <p class="d-flex justify-content-start lead fw-normal">
    <a href="/docs/{{ .Site.Params.docs_version }}/customize/overview/" class="icon-link icon-link-hover fw-semibold">
      Saiba mais sobre personalização
      <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </p>
</section>

<section class="row g-md-5 mb-5 pb-md-5">
  <div class="col-lg-6">
    <h3>Inclua todo o Sass do Crow</h3>
    <p>Importe uma folha de estilos e você estará pronto para usar todos os recursos do nosso CSS.</p>
    {{ highlight (printf `// Sobrescrita de variáveis primeiro
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Então importe Crow
@import "../node_modules/crow/scss/crow";
`) "scss" "" }}
    <p>Saiba mais sobre nossas <a href="/docs/{{ .Site.Params.docs_version }}/customize/options/">opções globais do Sass</a>.</p>
  </div>
  <div class="col-lg-6">
    <h3>Inclua o que você precisa</h3>
    <p>A maneira mais fácil de personalizar o Crow - inclua apenas o CSS que você precisa.</p>
{{ highlight (printf `// Funções primeiro
@import "../node_modules/crow/scss/functions";

// Sobrescrita de variáveis segundo
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Importações do Crow necessárias
@import "../node_modules/crow/scss/variables";
@import "../node_modules/crow/scss/variables-dark";
@import "../node_modules/crow/scss/maps";
@import "../node_modules/crow/scss/mixins";
@import "../node_modules/crow/scss/root";

// Componentes opcionais
@import "../node_modules/crow/scss/utilities";
@import "../node_modules/crow/scss/reboot";
@import "../node_modules/crow/scss/containers";
@import "../node_modules/crow/scss/grid";
@import "../node_modules/crow/scss/helpers";
@import "../node_modules/crow/scss/utilities/api";
`) "scss" "" }}
    <p>Saiba mais sobre <a href="/docs/{{ .Site.Params.docs_version }}/customize/sass/">como usar o Crow com Sass</a>.</p>
  </div>
</section>
