<div class="col-lg-7 mx-auto pb-3 mb-3 mb-md-5 text-md-center">
  <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bd-violet-rgb);">
    <svg class="bi fs-1"><use xlink:href="#code"></use></svg>
  </div>
  <h2 class="display-5 mb-3 fw-semibold lh-sm">Comece do jeito que você&nbsp;quiser</h2>
  <p class="lead fw-normal">
    Comece a construir com o Crow—use o CDN, instale-o via gerenciador de pacotes ou baixe o código-fonte.
  </p>
  <p class="d-flex justify-content-md-start justify-content-md-center lead fw-normal">
    <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/" class="icon-link icon-link-hover fw-semibold ps-md-4">
      Leia a documentação de instalação
      <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </p>
</div>

<section class="row g-3 g-md-5 mb-5 pb-5 justify-content-center">
  <div class="col-lg-6 py-lg-4 pe-lg-5">
    <svg class="bi mb-2 fs-2 text-body-secondary"><use xlink:href="#box-seam"></use></svg>
    <h3 class="fw-semibold">Instale via gerenciador de pacotes</h3>
    <p class="pe-lg-5">
      Instale os arquivos fonte Sass e JavaScript do Crow via npm, RubyGems, Composer ou Meteor. As instalações gerenciadas por pacotes não incluem documentação ou nossos scripts de compilação completos. Você também pode <a href="https://github.com/ecossistemadev/examples/">usar qualquer demonstração do nosso repositório de exemplos</a> para iniciar rapidamente projetos Crow.
    </p>
    {{ highlight (printf ("npm install crow@%s") .Site.Params.current_version) "sh" "" }}
    {{ highlight (printf ("gem install crow -v %s") .Site.Params.current_ruby_version) "sh" "" }}
    <p>
      <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Leia nossa documentação de instalação</a> para mais informações e gerenciadores de pacotes adicionais.
    </p>
  </div>
  <div class="col-lg-6 py-lg-4 ps-lg-5 border-lg-start">
    <svg class="bi mb-2 fs-2 text-body-secondary"><use xlink:href="#globe2"></use></svg>
    <h3 class="fw-semibold">Inclua via CDN</h3>
    <p class="pe-lg-5">
      Quando você precisar apenas incluir o CSS ou JS compilado do Crow, você pode usar <a href="https://www.jsdelivr.com/package/npm/crow">jsDelivr</a>. Veja em ação com nosso simples <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/#quick-start">início rápido</a>, ou <a href="/docs/{{ .Site.Params.docs_version }}/examples/">navegue pelos exemplos</a> para iniciar seu próximo projeto. Você também pode optar por incluir Popper e nosso JS <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/#separate">separadamente</a>.
    </p>
    {{ highlight (printf (`<link href="%s" rel="stylesheet" integrity=%q crossorigin="anonymous">`) .Site.Params.cdn.css (.Site.Params.cdn.css_hash | safeHTMLAttr)) "html" "" }}
    {{ highlight (printf (`<script src="%s" integrity=%q crossorigin="anonymous"></script>`) .Site.Params.cdn.js_bundle (.Site.Params.cdn.js_bundle_hash | safeHTMLAttr)) "html" "" }}
  </div>

  <div class="col-md-8 mx-auto text-center">
    <h4 class="fw-semibold">Leia nossos guias de início rápido</h4>
    <p>Comece a incluir os arquivos fonte do Crow em um novo projeto com nossos guias oficiais.</p>
    <div class="d-flex flex-wrap align-items-center justify-content-center gap-4 mt-4">
      <a class="d-flex flex-column align-items-center text-decoration-none animate-img" href="/docs/{{ .Site.Params.docs_version }}/getting-started/webpack/">
        <img class="d-block mb-2" src="/docs/{{ .Site.Params.docs_version }}/assets/img/webpack.svg" alt="" width="72" height="72" loading="lazy">
        <span class="text-body-secondary">Webpack</span>
      </a>
      <a class="d-flex flex-column align-items-center text-decoration-none animate-img" href="/docs/{{ .Site.Params.docs_version }}/getting-started/parcel/">
        <img class="d-block mb-2" src="/docs/{{ .Site.Params.docs_version }}/assets/img/parcel.png" alt="" width="72" height="72" loading="lazy">
        <span class="text-body-secondary">Parcel</span>
      </a>
      <a class="d-flex flex-column align-items-center text-decoration-none animate-img" href="/docs/{{ .Site.Params.docs_version }}/getting-started/vite/">
        <img class="d-block mb-2" src="/docs/{{ .Site.Params.docs_version }}/assets/img/vite.svg" alt="" width="72" height="72" loading="lazy">
        <span class="text-body-secondary">Vite</span>
      </a>
    </div>
  </div>
</section>
