<section class="pb-md-5 mb-5">
  <div class="col-lg-8 mb-5">
    <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bs-warning-rgb);">
      <svg class="bi fs-1"><use xlink:href="#plugin"></use></svg>
    </div>
    <h2 class="display-5 mb-3 fw-semibold lh-sm">Plugins JavaScript poderosos sem jQuery</h2>
    <p class="lead fw-normal">
      Adicione elementos ocultos comutáveis, modais e menus offcanvas, popovers e tooltips, e muito mais - tudo sem jQuery. O JavaScript do Crow é HTML-first, o que significa que a maioria dos plugins são adicionados com atributos <code>data</code> no seu HTML. Precisa de mais controle? Inclua plugins individuais programaticamente.
    </p>
    <p class="d-flex justify-content-start lead fw-normal mb-md-0">
      <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/javascript/" class="icon-link icon-link-hover fw-semibold">
        Saiba mais sobre o JavaScript do Crow
        <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
      </a>
    </p>
  </div>
  <div class="row gx-md-5">
    <div class="col-lg-6 mb-3">
      <h3 class="fw-semibold">API de atributo de dados</h3>
      <p>Por que escrever mais JavaScript quando você pode escrever HTML? Quase todos os plugins JavaScript do Crow possuem uma API de dados de primeira classe, permitindo que você use JavaScript apenas adicionando atributos <code>data</code>.</p>
      <div class="p-4 mb-3 border rounded-3">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Item de menu suspenso</button></li>
            <li><button class="dropdown-item" type="button">Item de menu suspenso</button></li>
            <li><button class="dropdown-item" type="button">Item de menu suspenso</button></li>
          </ul>
        </div>
      </div>

      {{ highlight (printf `<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">Item de menu suspenso</button></li>
    <li><button class="dropdown-item" type="button">Item de menu suspenso</button></li>
    <li><button class="dropdown-item" type="button">Item de menu suspenso</button></li>
  </ul>
</div>
`) "html" "" }}
      <p>Saiba mais sobre <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/javascript/#using-crow-as-a-module">nosso JavaScript como módulos</a> e <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/javascript/#programmatic-api">usando a API programática</a>.</p>
    </div>
    <div class="col-lg-6 mb-3">
      <h3 class="fw-semibold">Conjunto abrangente de plugins</h3>
      <p>O Crow possui uma dúzia de plugins que você pode inserir em qualquer projeto. Insira todos de uma vez ou escolha apenas os que você precisa.</p>
      <hr class="my-4">
      <div class="row g-3">
        {{- range $plugin := .Site.Data.plugins -}}
          {{- $href := printf "/docs/%s/%s" $.Site.Params.docs_version $plugin.link }}
          <div class="col-sm-6 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="{{ $href }}">
              <h4 class="mb-0 fs-5 fw-semibold">{{ $plugin.name }}</h4>
              <small class="text-body-secondary">{{ $plugin.description }}</small>
            </a>
          </div>
        {{- end }}
      </div>
    </div>
  </div>

</section>
